html {
    height: 100%;
    width: 100%
}

body {
    -webkit-app-region: drag;
    user-select: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, .2);
}

#main {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}
